body
{
	&:after
	{
		display: none;
	}
	@include gs-media(ma,min)
	{
		&:after
		{
			content: "mobile";
		}
	}
	@include gs-media(ta,min)
	{
		&:after
		{
			content: "tablet";
		}
	}
	@include gs-media(da,min)
	{
		&:after
		{
			content: "desktop";
		}
	}
}