// 		ITD PREFIXES
// 		da = 100%
//		db = 33%,33%,33%
//		dc = 25%,25%,25%,25%

.clearfix {
  @include clearfix();
}
.container{
  width:100%;
  zoom:1;
  margin: 0px auto;
  @include clearfix();
}
@include gs-media(ma,max)
{
  // itd 1
   .itd-1col-1-100, .itd-2cols-1-25, .itd-2cols-2-75, .itd-2cols-1-33, .itd-2cols-2-67, .itd-2cols-1-50, .itd-2cols-2-50, .itd-2cols-1-67, .itd-2cols-2-33, .itd-2cols-1-75, .itd-2cols-2-25, .itd-3cols-1-33, .itd-3cols-2-34, .itd-3cols-3-33, .itd-4cols-1-25, .itd-4cols-2-25, .itd-4cols-3-25, .itd-4cols-4-25{
    clear: left;
    padding:0; margin:0;
    width: auto;
    float: none;
  }

  .m-hidden
  {
    display: none;
  }
}
@include gs-media(ta, min-max) {


  .t-hidden
  {
    display: none;
  }

  .container{
    width: gs-width(ta,1,false,false,true);
  }

  // itd 1
   .itd-1col-1-100{
    @include gs-span(ta,all);
  }

  // itd 13
   .itd-2cols-1-25{
    @include gs-span(tb,1,1);
  }

   .itd-2cols-2-75{
    @include gs-span(tb,2,3);
  }

  // itd 1-2

   .itd-2cols-1-33{
    @include gs-span(tb,1,1);
  }

   .itd-2cols-2-67{
    @include gs-span(tb,2,3);
  }


  // itd 2

   .itd-2cols-1-50{
    @include gs-span(tc,1,2);
  }

   .itd-2cols-2-50{
    @include gs-span(tc,3,4);
  }


  // itd 2-1

   .itd-2cols-1-67{
    @include gs-span(tb,1,2);
  }

   .itd-2cols-2-33{
    @include gs-span(tb,3,3);
  }


  // itd 3-1

   .itd-2cols-1-75{
    @include gs-span(tb,1,2);
  }

   .itd-2cols-2-25{
    @include gs-span(tb,3,3);
  }


  // itd 3

   .itd-3cols-1-33{
    clear: left;
    @include gs-span(ta,all);
  }

   .itd-3cols-2-34{
    clear: left;
    @include gs-span(ta,all);
  }

   .itd-3cols-3-33{
    clear: left;
    @include gs-span(ta,all);
  }


  // itd 4

   .itd-4cols-1-25{
    @include gs-span(tc,1,2);
  }
   .itd-4cols-2-25{
    @include gs-span(tc,3,4);
  }
   .itd-4cols-3-25{
    clear: left;
    @include gs-span(tc,1,2);
  }
   .itd-4cols-4-25{
    @include gs-span(tc,3,4);
  }

}
@include gs-media(da, min)
{

  .d-hidden
  {
    display: none;
  }

  .container{
    width: gs-width(da,1,false,false,true);
  }

  // itd 1
   .itd-1col-1-100{
    @include gs-span(da,all);
  }

  // itd 1-3
   .itd-2cols-1-25{
    @include gs-span(dc,1,1);
  }

   .itd-2cols-2-75{
    @include gs-span(dc,2,4);
  }

  // itd 1-2

   .itd-2cols-1-33{
    @include gs-span(db,1,1);
  }

   .itd-2cols-2-67{
    @include gs-span(db,2,3);
  }


  // itd 2

   .itd-2cols-1-50{
    @include gs-span(dc,1,2);
  }

   .itd-2cols-2-50{
    @include gs-span(dc,3,4);
  }


  // itd 2-1

   .itd-2cols-1-67{
    @include gs-span(db,1,2);
  }

   .itd-2cols-2-33{
    @include gs-span(db,3,3);
  }


  // itd 3-1

   .itd-2cols-1-75{
    @include gs-span(dc,1,3);
  }

   .itd-2cols-2-25{
    @include gs-span(dc,4,4);
  }


  // itd 3

   .itd-3cols-1-33{
    @include gs-span(db,1,1);
  }

   .itd-3cols-2-34{
    @include gs-span(db,2,2);
  }

   .itd-3cols-3-33{
    @include gs-span(db,3,3);
  }


  // itd 4

   .itd-4cols-1-25{
    @include gs-span(dc,1,1);
  }
   .itd-4cols-2-25{
    @include gs-span(dc,2,2);
  }
   .itd-4cols-3-25{
    @include gs-span(dc,3,3);
  }
   .itd-4cols-4-25{
    @include gs-span(dc,4,4);
  }
}
.itd-cols-reverse
{
  @include gs-media(ta, min-max) {


    // itd 1-3
     .itd-2cols-1-25{
      @include gs-span(tb,3,3);
    }

     .itd-2cols-2-75{
      @include gs-span(tb,1,2);
    }

    // itd 1-2

     .itd-2cols-1-33{
      @include gs-span(tb,3,3);
    }

     .itd-2cols-2-67{
      @include gs-span(tb,1,2);
    }


    // itd 2-1

     .itd-2cols-1-67{
      @include gs-span(tb,2,3);
    }

     .itd-2cols-2-33{
      @include gs-span(tb,1,1);
    }


    // itd 3-1

     .itd-2cols-1-75{
      @include gs-span(tb,2,3);
    }

     .itd-2cols-2-25{
      @include gs-span(tb,1,1);
    }
  }
  @include gs-media(da, min)
  {

    // itd 1
     .itd-1col-1-100{
      @include gs-span(da,all);
    }

    // itd 1-3
     .itd-2cols-1-25{
      @include gs-span(dc,4,4);
    }

     .itd-2cols-2-75{
      @include gs-span(dc,1,3);
    }

    // itd 1-2

     .itd-2cols-1-33{
      @include gs-span(db,3,3);
    }

     .itd-2cols-2-67{
      @include gs-span(db,1,2);
    }

    // itd 2-1

     .itd-2cols-1-67{
      @include gs-span(db,2,3);
    }

     .itd-2cols-2-33{
      @include gs-span(db,1,1);
    }


    // itd 3-1

     .itd-2cols-1-75{
      @include gs-span(dc,2,4);
    }

     .itd-2cols-2-25{
      @include gs-span(dc,1,1);
    }


    // itd 3

     .itd-3cols-1-33{
      @include gs-span(db,3,3);
    }

     .itd-3cols-2-34{
      @include gs-span(db,2,2);
    }

     .itd-3cols-3-33{
      @include gs-span(db,1,1);
    }


    // itd 4

     .itd-4cols-1-25{
      @include gs-span(dc,4,4);
    }
     .itd-4cols-2-25{
      @include gs-span(dc,3,3);
    }
     .itd-4cols-3-25{
      @include gs-span(dc,2,2);
    }
     .itd-4cols-4-25{
      @include gs-span(dc,1,1);
    }
  }
}