<!DOCTYPE html>
<% include master/doc-ie-shim.ejs %>
<head>
    <% include master/head.ejs %>
</head>
    <body>
        <% include master/browsehappy.ejs %>
        <header>

        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>