.align-r{
  text-align: right;
}
.align-l{
  text-align: left;
}
.align-c{
  text-align: center;
}
.pad-in{
  padding: $padding-base-vertical $padding-base-horizontal;
}
.pad-in-large
{
  @extend .pad-in;

  @include gs-media(ta,min)
  {
    padding: $padding-large-vertical $padding-large-horizontal*1.5;
  }
}
.p-rel{
  position: relative;
}
.p-abs{
  position: absolute;
}
.zero{
  padding: 0;
  margin: 0;
}